.container {
    display: flex;
}
.left-container {
    background-color: blue;
    color: white;
    height: 200px;
    width: 100px;
}

.right-container {
    background-color: white;
    height: 200px;
    width: 100px;
    /*display: flex;*/
}
