.container {
    display: flex;
}
.left-container {
    background-color: blue;
    color: white;
    height: 400px;
    width: 200px;
}

.right-container {
    background-color: white;
    height: 400px;
    width: 200px;
    /*display: flex;*/
}

.continue {
    background-color: #303b5a;
    color: white;
    border: none;
    border-radius: 20px;
}